<!-- This div is centered and takes 6 columns -->

<div class="navbar">
  <ul class="p-0">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to my_profile_path(current_user.id) do %>
          <i class="fas fa-user fa-2x fas-items"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to pairing_sessions_path do %>
          <i class="fas fa-table-tennis fa-2x fas-items"></i>
        <% end %>
      </li>
        <li class="nav-item">
          <%= link_to pairing_requests_path do %>
            <i class="fas fa-hand-paper fa-2x fas-items"></i>
          <% end %>
        </li>
      <li class="nav-item">
        <%= link_to chats_path do %>
          <i class="fas fa-comment fa-2x fas-items"></i>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to root_path do %>
          <i class="fas fa-home fa-2x fas-items"></i>
        <% end %>
      <li class="nav-item">
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-sign-in-alt fa-2x fas-items"></i>
        <% end %>
    <% end %>
  </ul>
</div>

      <!-- This div is centered and takes 6 columns -->
