<!-- This div is centered and takes 6 columns -->

<div class="navbar">
  <ul class="fa-ul">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to my_profile_path(current_user.id) do %>
          <i class="fas fa-user fa-2x"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to pairing_sessions_path do %>
          <i class="fas fa-table-tennis fa-2x"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%# <%= link_to pairing_session_pairing_requests_path(@pairing_session, @pairing_request.id) do %>
          <i class="fas fa-reply fa-2x"></i>
        <%# <% end %>
      </li>
      <li class="nav-item">
        <%= link_to chats_path do %>
          <i class="fas fa-comment fa-2x"></i>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to root_path do %>
          <i class="fas fa-home fa-2x"></i>
        <% end %>
      <li class="nav-item">
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-sign-in-alt fa-2x"></i>
        <% end %>
    <% end %>
  </ul>
</div>

      <!-- This div is centered and takes 6 columns -->
