<div class="container" data-controller="chat-subscription" data-chat-subscription-chat-id-value="<%= @chat.id %>">
  <h1><%= @other.email %></h1>
  <div class="messages" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
    </div>

    <%= simple_form_for [@chat, @message], remote: true, html: {data: {chat_subscription_target: "form"}} do |f| %>
      <%= f.input :content, label: false, autofocus: true, placeholder: "Say something...", class: 'fill-content' %>
      <%= f.submit "Send" %>
    <% end %>
</div>
