<div class = "container p-4">
  <div class="profile-container ">
    <h1><%= @user.first_name%></h1>
    <div class="center">
      <% if @user.photo.attached? %>
        <%= cl_image_tag(@user.photo.key, height: 400, width: 400, crop: :fill) %>
      <% else %>
        <img src="<%= image_path("blank-profile-picture-973460_1280.png") %>" alt="" class="pairing-session-card-image" >
      <% end %>
    </div>

    <div class="bio-div mx-4">
      <%= @user.bio %>
    </div>

    <ul class="profile-list pa-bold-highlight">
      <div class="profile-info"><i class="fas fa-venus-mars"></i> <li id="gender"><mark><%= @user.gender%></mark></li></div>
      <div class="profile-info"><i class="fas fa-birthday-cake"></i><li id="age"><mark><%= ((Time.zone.now - @user.birth_date.to_time) / 1.year.seconds).floor if @user.birth_date.present? %></mark></li></div>
      <div class="profile-info"><i class="fas fa-dumbbell"></i><li id="competitiveness"><mark><%= @user.competitiveness %></mark></li></div>
    </ul>
  </div>
  <% if @user == current_user %>
    <div class="edit-button">
      <%= link_to 'Edit Your Profile Page', edit_my_profile_path, class: "profile-btn" %>
    </div>
  <% end %>
</div>
