<div class="container">
  <h1 class="page-header">My Activity Requests</h1>
  <% if @pairing_requests.count > 0 %>
    <div data-new-session-target="pairing-sessions" class="pairing-session-card-container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @pairing_requests.each_with_index do |pairing_request, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                  <div data-controller="request-card">
                    <div class="pairing-session-card">
                      <% if pairing_request.user.photo.attached? %>
                        <%= cl_image_tag pairing_request.user.photo.key, height: 400, width: 400, crop: :fill,  class: "pairing-session-card-image" %>
                      <% else %>
                        <img src="<%= image_path("blank-profile-picture-973460_1280.png") %>" alt="" class="pairing-session-card-image">
                      <% end %>
                      <h4><%= "#{pairing_request.user.first_name} wants to join you for #{pairing_request.pairing_session.activity}!" %>
                      <p><%= pairing_request.introduction %></p>
                      <p><%= pairing_request.pairing_session.datetime.strftime("%a %b %e at %l:%M %p") %></p>
                      <p><%= pairing_request.pairing_session.address %></p>
                      <div class="pairing-session-button-container">
                        <button data-action="request-card#reject" class="select-btn mb-3">Reject</button>
                        <button data-action="request-card#pair" class="select-btn-affirmative mb-3">Pair</button>
                      </div>
                    </div>
                    <div class="d-none">
                      <%= simple_form_for [pairing_request.pairing_session, pairing_request], data: { request_card_target: "form" } do |f| %>
                        <%= f.input :approved, label: 'approve' %>
                        <%= f.button :submit %>
                      <% end %>
                    </div>
                  </div>
              </div>
                <% end %>
            </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div>
        </div>
  <% else %>
    <div class="empty-requests">
      <h3> It looks like you don't have requests yet....but fear not! Click here find an activity!</h3>
      <%= link_to "Find activity!", pairing_sessions_path, class: 'profile-btn'%>
    </div>
  <% end %>
</div>
