  <div data-controller="new-request" data-action="session-card:pairRequest->new-request#handleModalEvent"> <!-- This is the new-request controller start -->
    <div data-new-session-target="container"></div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content modal-position">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send a short introduction!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= simple_form_for @pairing_request do |form| %>
            <div class="modal-body">
              <div class="d-none" data-new-request-target="request">
                <%= form.input :pairing_session_id, label: false %>
                <%= form.input :user_id, label: false %>
              </div>
              <%= form.input :introduction, label: false %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= form.button :submit , class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- This is the new-request controller end -->
