
<% if pairing_sessions != nil %>
<% if pairing_sessions.count > 0 %>
  <div data-new-session-target="pairing-sessions" class="pairing-session-card-container">
    <h4 class="text-center mt-3">Here are your possible pairs!</h4>
    <% pairing_sessions.each do |pairing_session| %>
      <div class="pairing-session-card" data-controller="session-card" data-id="<%= pairing_session.id %>" data-user-id="<%= current_user.id %>">
        <% if pairing_session.user.photo.attached? %>
          <%= cl_image_tag pairing_session.user.photo.key, height: 150, width: 150, crop: :fill,  class: "pairing-session-card-image" %>
        <% else %>
          <img src="<%= image_path("blank-profile-picture-973460_1280.png") %>" alt="" class="pairing-session-card-image">
        <% end %>
        <h4><%= "#{pairing_session.user.first_name}'s #{pairing_session.activity} session!" %>
        <p><%= pairing_session.description %></p>
        <p><%= pairing_session.datetime.strftime("%a %b %e at %l:%M %p") %></p>
        <p><%= pairing_session.address %></p>
        <div class="pairing-session-button-container">
          <button class="select-btn mb-3">Reject</button>
          <button data-action="click->session-card#sendRequest" data-toggle="modal" data-target="#exampleModal" class="select-btn-affirmative mb-3">Pair</button>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No current sessions at the moment. Who don't you start your own? Give a quick description of the kind of session you want and start pairing!</p>
    <%= simple_form_for pairing_session, data: {newsession_target: "newForm"} do |f| %>
    <div class="d-none">
      <%= f.input :activity %>
      <%= f.input :address %>
      <%= f.input :datetime, html5: true %>
    </div>
    <%= f.input :description %>
    <%= f.submit 'Start pairing!', class: "btn btn-primary" %>
  <% end %>
 <% end %>
<% end %>
