<% if pairing_sessions %>
  <div data-new-session-target="pairing-sessions" class="pairing-session-card-container">
    <h4 class="text-center mt-3">Here are your possible pairs!</h4>
    <% pairing_sessions.each do |pairing_session| %>

        <div class="pairing-session-card" data-controller="session-card" data-id="<%= pairing_session.id %>" data-user-id="<%= current_user.id %>">
          <h4><%= "#{pairing_session.user.first_name}'s #{pairing_session.activity} session!" %>
          <p><%= pairing_session.description %></p>
          <p><%= pairing_session.time %></p>
          <p><%= pairing_session.address %></p>
          <div class="pairing-session-button-container">


            <button class="select-btn mb-3">Reject</button>
            <button data-action="click->session-card#sendRequest"  class="select-btn mb-3">Request pairing</button>
          </div>
          <div data-session-card-target="form" class="d-none">
            <%= render 'pairing_requests/form', pairing_session: pairing_session, pairing_request: pairing_request %>
          </div>
        </div>

    <% end %>
  </div>
<% else %>
  <p>No current sessions at the moment. Who don't you start your own? Give a quick description of the kind of session you want and start pairing!</p>
<% end %>
