<% if pairing_sessions.count > 0 %>
  <div data-new-session-target="pairing-sessions" class="pairing-session-card-container">
    <h4 class="text-center mt-3">Here are your possible pairs!</h4>
    <% pairing_sessions.each do |pairing_session| %>
        <div class="pairing-session-card" data-controller="session-card" data-id="<%= pairing_session.id %>" data-user-id="<%= current_user.id %>">
          <h4><%= "#{pairing_session.user.first_name}'s #{pairing_session.activity} session!" %>
          <p><%= pairing_session.description %></p>
          <p><%= pairing_session.datetime %></p>
          <p><%= pairing_session.address %></p>
            <div class="pairing-session-button-container">
              <button class="select-btn mb-3">Reject</button>
              <button data-action="click->session-card#sendRequest" data-toggle="modal" data-target="#exampleModal" class="select-btn-affirmative mb-3">Pair</button>
            </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content modal-position">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Send a short introduction!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= simple_form_for [pairing_session, @pairing_request] do |f| %>
                  <div class="modal-body">
                      <%= f.input :introduction, label: false %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.button :submit , class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<% else %>
  <p>No current sessions at the moment. Who don't you start your own? Give a quick description of the kind of session you want and start pairing!</p>
  <%= simple_form_for @pairing_session do |f| %>
    <div class="d-none">
      <%= f.input :activity, input_html: { value: @activity } %>
      <%= f.input :address, input_html: { value: @address } %>
      <%= f.input :datetime, html5: true, input_html: { value: @datetime } %>
    </div>
    <%= f.input :description %>
    <%= f.submit 'Start pairing!', class: "btn btn-primary" %>
  <% end %>
<% end %>
