<div class="container">
  <%= simple_form_for pairing_session, data: { new_session_target: "form" } do |f| %>
      <%= f.input :activity, class: "d-none", value: params[:activity] %>
      <%= f.input :address, class: "d-none", value: params[:address] %>
      <%= f.input :datetime, class: "d-none", value: params[:time] %>
      <div class="empty-sessions">
        <h3>No current activities at the moment. Who don't you start your own? Give a quick description of the activity get started!</h3>
        <%= f.input :description %>
        <%= f.submit 'Find a partner!', class: "btn profile-btn" %>
      </div>
  <% end %>
</div>
