<div class="container">
  <%= simple_form_for pairing_session, data: { new_session_target: "form" } do |f| %>
      <%= f.input :activity, class: "d-none", value: params[:activity] %>
      <%= f.input :address, class: "d-none", value: params[:address] %>
      <%= f.input :datetime, class: "d-none", value: params[:time] %>
      <p>No current sessions at the moment. Who don't you start your own? Give a quick description of the kind of session you want and start pairing!</p>
      <%= f.input :description %>
      <%= f.submit 'Start pairing!', class: "btn btn-primary" %>
  <% end %>
</div>
