<div data-controller="new-session">
  <%= simple_form_for @pairing_session, data: { new_session_target: "form" } do |f| %>
    <div data-controller="session-form">
      <div data-new-session-target="activity" data-action="activityEvent->new-session#handleEvent">
        <div class="d-none"><%= f.input :activity %></div>
        <%= render 'activities' %>
      </div>
    </div>
    <div data-controller="session-form">
      <div class="d-none" data-new-session-target="address">
        <%= f.input :address, label: 'Where abouts?' %>
        <button data-action="click->new-session#displayTime" class="select-btn mb-3">Choose</button>
      </div>
    </div>
    <div data-controller="session-form">
      <div class="d-none" data-new-session-target="time">
        <%= f.input :datetime, html5: true %>
        <button data-action="click->new-session#displayPairingSessions" class="btn btn-primary mb-3">Choose</button>
      </div>
    </div>
    <div class="d-none" data-new-session-target="description">
      <p>No current sessions at the moment. Who don't you start your own? Give a quick description of the kind of session you want and start pairing!</p>
      <%= f.input :description %>
      <%= f.submit 'Start pairing!', class: "btn btn-primary" %>
    </div>
  <% end %>
  <div data-new-session-target="container"></div>
</div>
