
<div class="container">

  <div data-controller="new-session">
    <%= simple_form_for @pairing_session do |f| %>
      <div data-new-session-target="activity">
        <%= f.input :activity, collection: PairingSession::ACTIVITIES %>
        <button data-action="click->new-session#displayAddress" class="btn btn-primary mb-3">Choose</button>
        <%= render 'activities' %>
      </div>
      <div class="d-none" data-new-session-target="address">
        <%= render 'map' %>
        <%= f.input :address %>
        <button data-action="click->new-session#displayTime" class="btn btn-primary mb-3">Choose</button>
      </div>
      <div class="d-none" data-new-session-target="time">
        <%= f.input :time %>
        <button data-action="click->new-session#displayDescription" class="btn btn-primary mb-3">Choose</button>
      </div>
      <div class="d-none" data-new-session-target="description">
        <%= f.input :description %>
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
